
body {
  background: radial-gradient(circle, #262640 0%, #1e1e36 80%);
  font-family: monospace;
  margin: 0;
  height: 100vh;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.6));
}

p {
  color: grey;
  margin: 0;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.6));
}
